body {
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items:center;
}

.header {
    background-color: #3498db;
    height: fit-content;
    color: #fff;
    font-size: 28px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.completestuff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-box {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 342px;
}

.signup-title {
    color: #3498db;
    margin-bottom: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}


input[type=text], input[type="password"] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    color: #333;
    width: 94%;
}

input[type="submit"] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

    input[type="submit"]:hover {
        background-color: #2980b9;
    }

.login-link {
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-block-end: 0em;
    margin-block-start: 1.5em;
}

    .login-link a {
        color: #3498db;
        text-decoration: none;
        font-weight: bold;
    }
